/*Estilização do BODY da página*/
body{
    margin: 0;
    border: 0; 
    font-family: 'Century Gothic', 'Arial';
    color:rgb(95, 94, 94);
    background: linear-gradient( #A2B9AD, #f3f0f0, #E0E0E0, #CADDE1); 
   
}
/*EStilização do HEADER da página*/
header{
   background-color: white;
}

.logo {
    width: 15%;
}
/*Estilização do MENU no site*/
nav{
    font-weight: bold;    
    font-size: 28;
    right: 100px;
    top: 50px; 
    position : absolute 
}

nav li {
    display: inline; 
    margin-right: 40px;
}

/* Estilização da DIV do header*/
.divHeader {
    position: relative;

}
.banner {
    width: 100%;
    height: 300px;
    margin: 0;
    border: 0;
    object-fit: cover;
}


/*Título*/
.contatos-titulo{
	 font-size: 35px; 
    font-weight: bold;
    color: rgb(247, 244, 244);
    list-style: none;
    font-family: 'Century Gothic', 'Arial';
}
.contatos-item{
    padding-left: 5%;
    font-size: 20px;
    color: rgb(112, 112, 112);
}

/*Formulário*/
form{
	margin-top: 20px;
	margin-left: 20%;
    margin-bottom: 0;
}
form label, form legend{
	display: block;
	font-size: 20px;
	margin: 0 0 10px;
}
fieldset{
	width: 75%;
	padding-left: 5%;
	margin-bottom: 2%;
}
.input-padrao{
	display: block;
	margin: 0 0 20px;
	padding: 10px 25px;
	width: 85%;
}
.chk{
	margin: 20px 0;
}
.enviar{
	width: 40%;
	padding: 15px 0;
    margin-bottom: 20px;
	background: rgb(236, 152, 49);
	color: white;
	font-weight: bold;
	border: none;
	border-radius: 5px;
	transition: 1s all;
	cursor: pointer;
}
.enviar:hover{
	background: rgb(236, 152, 49);
	transform: scale(1.2);
}

/*Div do retorno do formulário*/
.divRetorno{
    display: none;
    margin-bottom: 15px;
}
.divRetorno p{
    font-size: 24px;
}

/*Estilização do FOOTER*/
.logofooter{
    width: 13%;
    /* padding-left: 3%; */
    /* display : inline-block;  */
    position: relative;
    top: 75px;
}
footer {
    color: rgb(93, 127, 129);
    display : inline-block; 

    width: 100%; 
    font-size: 25px;
    
}
.Midia {
    font-family: 'Century Gothic', 'Arial';
    font-size: 25px; /* Mantém o tamanho original */
    font-weight: bold; /* Mantém o peso da fonte */
    text-align: right;
    
}