/*Estilização do BODY da página*/
body{
    margin: 0;
    border: 0;
    font-family: 'Tahoma', 'Arial';
}
/*Estização do HEADER da página*/
header{
    background-color: rgb(78, 8, 116);
    padding: 10px 0 20px 200px;
}

main {
    background: linear-gradient(#FFFFFF, #dad4f1);
    margin: 0;
    padding: 15px;
}

.logo {
    width: 10%;
}
/*Estilização do MENU do site*/
nav {
    color: white;
    font-size: 26;
    right: 3%;
    top: -5%;
    position: absolute;
}

nav li{
    display: inline;
    margin-right: 40px;
    font-family: cursive;
    font-size: 35px;
}

nav li a{
    color: white;
    text-decoration: none;
}

/*Estilização da DIV do header */
.divHeader {
    position: relative;
}

/*Título*/
.contatos-titulo{
	font-size: 40px;
	font-weight: bold;
	color:  rgb(78, 8, 116);
    font-family: cursive;
    list-style: none;
}
.contatos-item:before{
	content: "🐈";
}
.texto-contatos{
    padding-left: 5%;
}

/*Formulário*/
form{
	margin-top: 20px;
	margin-left: 20%;
    margin-bottom: 0;
}
form label, form legend{
	display: block;
	font-size: 20px;
	margin: 0 0 10px;
}
fieldset{
	width: 75%;
	padding-left: 5%;
	margin-bottom: 2%;
}
.input-padrao{
	display: block;
	margin: 0 0 20px;
	padding: 10px 25px;
	width: 85%;
}
.chk{
	margin: 20px 0;
}
.enviar{
	width: 40%;
	padding: 15px 0;
    margin-bottom: 20px;
	background: orange;
	color: white;
	font-weight: bold;
	border: none;
	border-radius: 5px;
	transition: 1s all;
	cursor: pointer;
}
.enviar:hover{
	background: darkorange;
	transform: scale(1.2);
}

/*Div do retorno do formulário*/
.divRetorno{
    display: none;
    margin-bottom: 15px;
}
.divRetorno p{
    font-size: 24px;
}

/*Estilização do FOOTER*/
.logofooter{
    width: 13%;
    /* padding-left: 3%; */
    /* display : inline-block;  */
    position: relative;
    top: 75px;
}
footer {
    font-weight: bold ;
    color: rgb(93, 127, 129);
    display : inline-block; 

    width: 100%; 
    font-size: 25px;
    
}
.Midia {
    font-family: 'Century Gothic', 'Arial';
    font-size: 25px; /* Mantém o tamanho original */
    font-weight: bold; /* Mantém o peso da fonte */
    text-align: right;
    
}