/*Estilização do BODY da página*/
body{
    margin: 0;
    border: 0; 
    font-family: 'Century Gothic', 'Arial';
    color:rgb(121, 121, 121);
   
}

/*Formatação de fontes TEXTOS*/
.fonte_textos{
    font-size: 20px;
    line-height: 2;
}

/*EStilização do HEADER da página*/
header{
    background-color: rgb(255, 255, 255);
}

.logo {
    width: 15%;
}
/*Estilização do MENU no site*/
nav{
    font-weight: bold;    
    font-size: 28;
    right: 100px;
    top: 50px; 
    position : absolute 
}

nav li {
    display: inline; 
    margin-right: 40px;
}

/* Estilização da DIV do header*/
.divHeader {
    position: relative;

}
.banner {
    width: 100%;
    height: 300px;
    margin: 0;
    border: 0;
    object-fit: cover;
}

/*Estilização da sessão SOBRE NÓS*/
.sobre_nos{
    margin: 0;
    text-align: justify; 
    width: 62%;
    margin-left: 20%;
}   
.sobre_nos p{
    padding-bottom: 5%;
}
.img_sobrenos {
    width: 20%;
    float: left;
    margin-right:20px; 
    border-radius: 10px;
    box-shadow: 5px 10px 10px 0 #88B6BC;
}

.titulo_sobrenos{
    text-align: center;
    clear: left;
    font-size: 32px;
}

/*Estilização da sessão nosso estabelecimento*/
.mapaGeral {
    /* background: linear-gradient(#FFFFFF, #CADDE1, #A2B9AD, #88B6BC);  */
    background: linear-gradient(#FFFFFF, #CADDE1, #88B6BC, #A2B9AD); 
}
.mapaGeral p {
    text-align: center;
}

.mapa {
    margin-left:25%; 

}
.nossascasas{
    padding: 2% 0 0 0;
    width: 100%;
    background: linear-gradient(#FFFFFF, #CADDE1, #88B6BC, #A2B9AD); 

}
.div_nossascasas{
   /* width: 95%; */
    padding: 2% 0 0 10%;
}
.img_nossascasas{
    width: 15%;
    border-radius: 8px;
    box-shadow: 10px 10px 5px 0px ;
    opacity: 1;
    transition: 400ms;
}
.img_nossascasas:hover{
    opacity: 0.7;
}
.lista_nossascasas{
    width: 25%;
    display: inline-block;
    vertical-align: top;
    list-style: none;
    font-size: 18px; 
}
.lista_nossascasas li{
    line-height: 1.5;
}

.video{
   padding: 10% 0 0 33%; 
} 
/*Estilização do FOOTER*/
.logofooter{
    width: 15%;
    position: relative;
    top: 75px;
}
footer {

    color: rgb(93, 127, 129);
    display : inline-block; 

    width: 100%; 
    font-size: 25px; 
    background: linear-gradient( #A0B9AF,#CADDE1, #FFFFFF);
    font-weight: normal;

}

.Midia {
    font-family: 'Century Gothic', 'Arial';
    font-size: 25px; /* Mantém o tamanho original */
    font-weight: bold; /* Mantém o peso da fonte */
    text-align: right;
    
}

.fa-brands {
    font-family: "Font Awesome 6 Brands"; /* Evita que altere a fonte do texto */
    font-size: 22px; /* Ajusta o tamanho dos ícones */
    margin-right: 5px; /* Dá um espaçamento entre o ícone e o texto */
}
 /*footer{
    background: url("img");
    background-size: ;
    background-position: ;
    background-color:
    background-blend-mode: darken;
    padding: 50px; 
} /*